.navigation {
    background: @nav-bg;
    padding: 2rem 0 1rem;
    text-align: center;
    border-bottom: 1px solid @nav-border;
    position: fixed;
    width: 100%;
    opacity: 0.8;

        nav {
            margin-top: 1rem;
            
            a {
                color: @nav-font;
                text-decoration: none;
                padding: 0 1rem;
            }
        }
        
}